<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<body>

    <!--Div for Background-->
<div class="bg text-center">
    <!--Div for Centered Text & Input-->
    <div class="centered">

        <p class="firstLine"> B &nbsp; M &nbsp; A &nbsp; D &nbsp; E &nbsp; . &nbsp; Youtube &nbsp; Downloader </p>
        <p class="secondLine">The simplest youtube video downloader</p>
        <center>
          {% with messages = get_flashed_messages() %}
                 {% if messages %}
                       {% for message in messages %}
                            <p style="color:#fff">{{ message }}</p>
                       {% endfor %}
                 {% endif %}
              {% endwith %}
        <form class="" action="/download" method="post"  >
          <p class="pb-5"> <input class="InputStyle form-control" name="yt_url" placeholder="Enter URL of video you want to download " style="font-family:Arial, FontAwesome;" type="text"> </p>
          <button type="submit" class="btn btn-danger">Download</button>
        </form>
        </center>
    </div>
    <!--Div for bottom Icons-->
    <!-- <div class="social-btn"> <a href="#" title="Facebook"><i class="fa fa-facebook" ></i></a> <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div> -->
</div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</html>
